{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
      // "prettier" // you can remove if required
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
      // "prettier" // you can remove if required
    ],
    "rules": { 
        "no-console": 1 // Remember, this means error!
        // "prettier/prettier": 2
    }
  }